body {
  background-color: #EAE7DC;
  color: #8E8D8A;
}

p, span, table, h3{
  color: #8E8D8A;
}
a { 
 text-decoration: none;
 color: inherit;
}

/* sub-heading */
h2{
  font-weight: 400;
  font-size: 29px;
  letter-spacing: 1.5px;
}

h3{
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;

}
h4{
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
}

button{
  border-radius: 0px !important;
}